form {
  width: 90%;
  margin: 20px 0;
}

.add__button {
  border: none;
  background-color: darkgreen;
  color: white;
}

.text,
.add__button {
  height: 35px;
}

.text {
  width: 80%;
  border: 1px darkgray solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.add__button {
  width: 20%;
  font-size: 17px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
