.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.formBody {
  border: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 700px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.form__header {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid darkgray;
  background-color: rgb(241, 241, 241);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}

.dataBase {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dataBase .singleTodo:nth-child(2n + 1) {
  background-color: rgb(241, 241, 241);
}

.none {
  display: none;
}

.true {
  background-color: #c3f2d3 !important;
  color: black !important;
}
.true #check {
  background-color: darkgreen;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
